body {
    max-width: 600px;
    margin: auto;
    color: #444;
}

.title {
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #a0a0a0;
}

li {
    margin: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

cite {
    text-indent: 1em;
}

p {
    line-height: 1.4;
}
